@charset "UTF-8";


/*---*\
  All
\*---*/

* {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

.grid-title {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
}

.lang-button {
  position: fixed;
  right: 80px;
  bottom: 30px;
}

.lang-button ul {
  list-style-type: none;
}

.lang-button li {
  display: inline-block;
}


/*---------*\
  container
\*---------*/

.container {
  width: 1000px;
  margin: 20px auto 20px;
  padding: 80px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: repeat(20, 65px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, .5);
}


/*------------*\
  item-01-name  
\*------------*/

.item-01-name {
  grid-area: 1 / 1 / 4 / 10;
}

#chinese-name {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 60px;
}

#english-name {
  font-size: 25px;
  font-weight: 700;
}

.item-01-name ul {
  line-height: 1.5;
}

.item-01-name li {
  list-style-type: none;
  font-weight: 500;
}


/*------------*\
  item-02-pic  
\*------------*/

.item-02-pic {
  grid-area: 1 / 10 / 4 / 13
}

#picture img{
  float: right;
  height: 250px;
}


/*-----------------------*\
  item-03-work-experience
\*-----------------------*/

.item-03-work-experience {
  grid-area: 4 / 1 / 12 / 13;
}

.work-experience-box {
  border-bottom: 3px dotted black;
  padding-bottom: 10px;
  margin-top: 10px;
}

.work-experience-box-last {
  padding-bottom: 10px;
  margin-top: 10px;
}

.item-03-work-experience .position-title {
  margin-bottom: 5px;
  font-weight: 600;
}

.item-03-work-experience ul {
  margin: 5px;
  line-height: 1.2;
}


/*-----------------*\
  item-04-education
\*-----------------*/

.item-04-education {
  grid-area: 12 / 1 / 15 / 7;
}


/*-----------------*\
  item-05-education
\*-----------------*/

.item-05-education {
  grid-area: 12 / 7 / 15 / 13;
}

.text-hidden {
  color: white;
}


/*----------------*\
  item-06-software
\*----------------*/

.item-06-software {
  grid-area: 15 / 1 / 18 / 7;
}

.item-06-software span {
  background-color: #d7dfed;
  margin-right: 8px;
}

.item-06-software .skill {
  margin-top: 10px;
  line-height: 2;
}